@font-face {
  font-family: nue;
  src: url(./Font/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: nuethin;
  src: url(./Font/NeueHaasDisplayLight.ttf);
}
:root {
  --bg-color: #efeae3;
}
#main {
  width: 100vw;
  position: relative;

  z-index: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  cursor: url("https://w7.pngwing.com/pngs/457/630/png-transparent-location-logo-location-computer-icons-symbol-location-miscellaneous-angle-heart.png");
}
html,
body {
  width: 100%;
  height: 100%;
 
  
}

#page1 {

  margin-top: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  
  padding: 2vw 0vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
  
}
nav h3 {
  display: none;
}

#nav_part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
  
  
}

#nav_part2 h4 {
  font-family: nuethin;
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 1.7vw;
  overflow: hidden;
  text-align: center;
  width: 8vw;
  height: 8vh;
}

#nav_part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav_part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav_part2 h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#nav_part2 h4:hover a {
  color: white;
}
#hero {
  height: 65vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.5vw;
}

#left h3 {
  font-family: nue;
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#hero h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
  font-family: nue;
}

#page1 video {
  position: relative;
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
  z-index: 1;
}

#shape_animation {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 65vh;
  z-index: 0;
}

#shape_animation-1 {
  background-color: #fe320a;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

#shape_animation-2 {
  background: linear-gradient(#fe320a, #fe3f0a);

  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(25px);
}
#shape_animation-3 {
  background: linear-gradient(#fe320a, #fe3f0a);
  height: 30vw;
  position: absolute;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }

  to {
    transform: translate(-0%, 30%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(50, -5%);
  }

  to {
    transform: translate(-30%, 60%);
  }
}

#page2 {
  /* padding-top: 15vh; */
  width: 100%;
  min-height: 100vh;
  margin-top: 0;
  position: relative;
  background-color: var(--bg-color);
  font-family: nue;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 13vh ;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
#circleshape {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fe320a;
  display: inline-block;
  margin: 1vw 2vw;
}

#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
  font-family: nue;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#page2-bottom {
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 4.5vw;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

#page2-bottom h1 {
  font-size: 3.7vw;
  width: 50%;
}
#page2-bottom-part2 {
  width: 20%;
}
#page2-bottom img {
  width: 100%;
  border-radius: 15px;
}
#page2-bottom-part2 p {
  margin-top: 2vh;
  font-weight: 500;
  font-family: nuethin;
  font-size: 3vh;
}
#nav img {
  height: 9vw;
}
#page2 #shapeanimation-4 {
  background: linear-gradient(to top right, #fa2a01, #fa8907);
  height: 36vw;
  width: 35vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 18%;
  filter: blur(30px);
  z-index: 0;
  animation-name: anime3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes anime3 {
  from {
    transform: translate(30, -30%) skew(0);
  }

  to {
    transform: translate(-10%, 10%) skew(-12deg);
  }
}
#page3 {
  background-color: var(--bg-color);
  width: 100%;
  padding: 0vw 0;
  font-family: nue;
 
}
.option-con {
  height: 150px;
  width: 100%;
  position: relative;

  border-bottom: 0.5px solid rgba(201, 177, 177, 0.568);
  display: flex;
  align-items: center;
  padding: 0 2vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option-con h2 {
  font-weight: 900;
  font-size: 4vw;
  position: relative;
  z-index: 1;


}
.option-con p {
  
  font-size: 1.2vw;
  position: relative;
  z-index: 1;
text-align: right;
font-family: nuethin;
margin-right: 0;
color: black;
font-weight: 500;
}

.lightgray{
  color: rgba(128, 128, 128, 0.623);
  font-family: nuethin;
}

.option-con .overlay {
  height: 100%;
  width: 100%;
  background-color: #fa8907;
  left: 0;
  top: -100%;
  position: absolute;
  transition: all ease 0.21s;
}
.option-con:hover .overlay {
  top: 0;
}

#fixed-image {
  height: 30vw;
  width: 24vw;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 15%;
  z-index: 99;
  display: none;
  background-size: cover;
  background-position: center;
}

#page5 {
  padding: 8vw 0;
  background-color: var(--bg-color);
  height: 60vw;
  width: 100vw;
  line-height: 3vh;
  font-family: nuethin;
}
#page6 {
  height: 70vw;
  width: 100%;
}

#footer {
  overflow: hidden; 

  background-color: #0b0500;
  position: fixed;
  height: 105vh;
  width: 100vw;
  font-family: nue;
  color: #fff;
  z-index: 9;
  bottom: 0;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;
}

#footer h1 {
  font-size: 21vw;
  z-index: 29;
}
#footer-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#header-1 {
  height: 10vw;
  position: absolute;
  top: 7%;
  z-index: 29;
  font-size: 3vw;
  left: 8%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.897);
  
}
#header-2 {
  font-family: nuethin;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 8%;
  z-index: 29;
  font-size: 1.5vw;
  right: 15%;
 
  color: rgba(255, 255, 255, 0.808);
  
}
#header-2 input {
  font-family: nuethin;
 margin-top: 2vh;
width: 100%;
  top: 12%;
  z-index: 29;
  height: 5vh;
  right: 0;
 background-color: #ebdfdf00;
  font-size: 1.5vw;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid rgba(194, 194, 194, 0.699);
}
#header-1 a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.925);
}
::placeholder {
  color: rgba(194, 194, 194, 0.699);
  opacity: 0.8;
  font-size: 1.5vw;
  padding-bottom: 2vh;
}



#footer-div1 {
  bottom: 0;
  right: 0;
  z-index: 11;
  position: absolute;
  height: 150vh;
  width: 50vw;
  background-color: #fa2a01;
  filter: blur(30px);
  z-index: 15;
  border-radius: 50%;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 250%;
  animation-name: anime4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes anime4 {
  from {
    transform: translate(20, 40%);
  }

  to {
    transform: translate(10%, 10%);
  }
}

#footer-div2 {
  bottom: 30%;
  left: 0;
  z-index: 11;
  position: absolute;
  height: 270vw;
  width: 100vw;
  animation-name: anime3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  background-color: #fa2a01;
  filter: blur(30px);
  z-index: 15;
  border-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 20%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 1%;
}
#footer-bottom {
  z-index: 19;
  border-top: 1px solid #dadada98;
  height: 10vh;
  width: 100%;
  color: white;
  display: flex;
  padding: 0 2vw;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8vw;
  padding-top: 1vw;
  list-style: none;
}

#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.5s;
  font-family: nue;
}

#full-div1 {
  font-family: nue;
  height: 50%;
  width: 100%;
  background-color: #efeae3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#page4 {
  font-family: nue;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper {
  width: 100%;
  height: 50%;
  margin-top: 15vh;
  
  
}

.swiper-slide {
  
  position: relative;
  text-align: center;
  font-size: 18px;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(65, 60, 60, 0.445);
  left: 10%;
}

#who-wework {
  position: relative;
  width: 17vw;
  height: 3vw;
  color: black;
  display: flex;
  align-items: center;
  margin-left: 3vw;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-color);
}
#who-wework #circleshape2 {
  margin-top: 3px;
  width: 1vw;
  height: 2vh;
  background-color: #fa2a01;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4.5px;
}
#who-wework p {
  position: absolute;
  top: 0;

  font-size: 1.4vw;
}

#who-wework #para {
  position: absolute;
  background-color: #ababab;
}
.swiper-slide img {
  position: absolute;
  left: 10%;
  top: 0;
  width: 10vw;
  height: 14vh;
}
.fa-solid fa-arrow-right {
  color: #000;
  width: 10vw;
}
.swiper-slide p {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left;
  width: 15vw;
  font-size: 1vw;
}
#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.8s;
}

@media (max-width: 600px) {
  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0 0vw;
  }
  #full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
  }
#footer{
  width: 100vw;
}
  #page4{
    height: 100vw;
  }
  
  #full-div1 {
    height: 55%;
    width: 100%;
    background-color: var(--bg-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    
  }
  #menua a {
    color: #000;
    text-decoration: none;
    text-align: right;
    
  }
  #menua a:hover {
    color: #918e8e4d;
   
  }


  #menua {
    text-align: right;
    position: absolute;
line-height: 10vh;
text-transform: uppercase;
    left: 20%;
    color: #000;
    font-size: 17vw;
    bottom: 0;
    text-decoration: none;
    color: black;
    padding-bottom: 5vh;
    
  }

  nav {
    padding: 8vw 5vw;
    background-color: #efeae3;
    /* padding: 0 5vw; */
  }

  nav img {
    transition: all ease 0.2s;
    height: 9vh;
  }
  #nav_part2 {
    display: none;
  }

 
  #footer{
    width: 100vw;
  }
  #main
  #black-box {
    width: 90vw;
    height: 40vh;
    background-color: #0b0500;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-right: 25px;
  }

  .swiper {
    width: 100%;
    height: 50%;
    margin-top: 5vh;
  }

  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 2vw;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(65, 60, 60, 0.445);
    left: 10%;
  }
  .swiper-slide img {
    position: absolute;
    left: 10%;
    top: 0;
    width: 10vw;
    height: 14vh;
    padding-bottom: 12vh;
  }

  .swiper-slide p {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: left;
    width: 20vw;
    font-size: 1.5vw;
    line-height: 1vh;
  }
  #mobile-menu {
    font-size: 2vw;
    display: flex;
    text-align: left;
    align-items: flex-end;
  }
  nav h3 {
    display: block;
    padding: 3vw 5.5vw;
    border: 1px solid #ababab;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
    font-family: nue;
    z-index: 106;
    background-color: #efeae3;
    color: #000;
  }
  nav i {
    padding-right: 1.9vw;
  }

  #hero {
    height: 62vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding: 7vw 5vw;
    padding-bottom: 10vw;
    flex-direction: column-reverse;
    position: relative;
    z-index: 9;
  }
#moving-text{
  padding-top: 4vh;
}
  #left h3 {
    width: 80%;
    font-size: 5.5vw;
    line-height: 6vw;
  }

  #hero h1 {
    font-size: 17vw;
    text-align: right;
    line-height: 15vw;
  }

  #page1 video {
    position: relative;
    border-radius: 15px;
    margin-top: 4vw;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    width: 92%;
    margin-left: 4%;
    
  }

  #page2 {
    min-height: 125vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
  }
  .con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  #moving-text {
    white-space: nowrap;
    overflow-x: auto;
  }
  #moving-text::-webkit-scrollbar {
    display: none;
  }
  #circleshape {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fe320a;
    margin: 2vw 2vw;
  }

  #moving-text h1 {
    font-size: 15vw;
    display: inline-block;
  }

  #page2-bottom {
    height: 90vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 10vw 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    z-index: 9;
  }

  #page2-bottom h1 {
    font-size: 8.2vw;
    width: 100%;
    line-height: 9vw;
    padding-bottom: 10vh;
  }
  .option-con {
    height: 100px;
    width: 100%;
    position: relative;

    border-bottom: 0.5px solid rgba(201, 177, 177, 0.568);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
  }
  .option-con p {
  
    font-size: 3vw;
    position: relative;
    z-index: 1;
  text-align: right;
  font-family: nuethin;
  }
  .option-con h2 {
    font-size: 8vw;
    position: relative;
    z-index: 1;
  }

  .option-con .overlay {
    height: 100%;
    width: 100%;
    background-color: #fa8907;
    left: 0;
    top: -100%;
    position: absolute;
    transition: all ease 0.21s;
  }
  .option-con:hover .overlay {
    top: 0;
  }
  #fixed-image {
    height: 35vh;
    width: 50vw;
    border-radius: 10px;
    position: fixed;
    left: 40%;
    top: 15%;
    z-index: 99;
    display: none;
    background-size: cover;
    background-position: center;
  }
  #page2-bottom-part2 {
    width: 100%;
  }
  #page2-bottom img {
    
    /* margin: 3vw; */
    width: 100%;
    border-radius: 10px;
  }
  #page2-bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 5vw;
  }
  #nav img {
    height: 9vw;
  }
  #page2 #shapeanimation-4 {
    height: 69vw;
    width: 69vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    /* background: linear-gradient(to top right,red,blue); */
    top: 28%;
    left: 35%;
    filter: blur(20px);
    animation-name: anime3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  #who-wework {
    position: relative;
    width: 40vw;
    height: 3vw;
    color: black;
    display: flex;
    align-items: center;
    margin-left: 3vw;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bg-color);
  }
  #who-wework #circleshape2 {
    width: 3vw;
    height: 2vh;
    background-color: #fa2a01;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 3vw;
  }
  #who-wework p {
    padding-left: 7vw;
    position: absolute;
    top: 0;
    padding-top: 0.7vh;
    font-size: 3vw;
  }

  #who-wework #para {
    position: absolute;
    background-color: #ababab;
  }
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: nue;
}

#loader h1 {
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#project-button {
  width: 29vw;
  height: 25vh;
  margin-left: 5vw;
  margin-top: 7vh;
  position: relative;
}
#project-button h4 {
  padding: 3vw 3vw;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 4vw;
  overflow: hidden;
  position: absolute;
  left: 0;
}
@media (max-width: 600px) {
  #loader h1 {
    font-size: 9vw;
  }
  #project-button {
width: 20vw;
    height: 20vh;
    padding: 4vh 2vw;
  }
  #project-button h4 {
   
    border: 1px solid #0000003c;
    border-radius: 50px;
   font-size: 10vw;
    color: #000000bb;
    transition: all ease 0.3s;
    position: relative;

    overflow: hidden;
    
    left: 0;
  }

 
}

#black-box {
  width: 90%;
  height: 100%;
  background-color: #0b0500;
  color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  position: absolute;
  border-right: 35px;
}

#left-bbox {
  width: 50%;
  height: 100%;
  text-align: left;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  justify-content: center;
}
#right-bbox {
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
  position: absolute;
  /* z-index: 0; */
  background-color: #0b0500;
  border-right: 25px;
}

#left-bbox-material h1 {
  font-size: 5vw;
  line-height: 4.8vw;
  color: #aeadad;
}
#left-bbox-material p {
  margin-top: 3vw;
  width: 30vw;
  font-size: 1.2vw;
  font-family: nuethin;
}
#right-bbox img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-color: #0b0500;
  z-index: 9;
}
#left-bbox-material h1:hover {
  color: white;
}

#project-button {
  width: 19vw;
  height: 15vh;
  margin-left: 5vw;
  margin-top: 7vh;
  position: relative;
}

#project-button h4 {
  padding: 1vw 2vw;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 1.5vw;
  overflow: hidden;
  position: absolute;
  left: 0;
}

#project-button h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#project-button h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
#project-button a img {
  width: 3vw;
  position: absolute;
  height: 5vw;
}
#project-button h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
  /* padding-right: 2vw; */
}

#project-button h4:hover a {
  color: white;
}
#project-button i {
  padding-left: 1vw;
}
